// Config file for ViroSeek

////////////////////// MANIFEST //////////////////////
manifest {
    name = 'ViroSeek'
    author = 'Margaux J.M. LEFEBVRE, Audric BERGER, Jacques Dainat'
    homePage = 'https://github.com/MargauxLefebvre/ViroSeek'
    description = 'Nextflow alignment pipeline'
    mainScript = 'ViroSeek.nf'
    nextflowVersion = '>=22.04.0'
    version = '0.1'
}

////////////////////// parameters //////////////////////
params {
    input          = ''        // Path to a CSV file with 3 columns
    outdir    = 'results' // Path to output results
    
    // Database
    silva_ref      = '/databases/banks/silva/138.2/SILVA_138.2_LSURef_SSURef.fa.gz'         // Path to the SILVA reference file for BBduk (fasta format)
    prot_accession = '/databases/banks/ncbi/taxonomy/accession2taxid/prot.accession2taxid.FULL'         // Path to the uncompressed prot.accession2taxid file from NCBI (ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/accession2taxid/prot.accession2taxid.gz)
    taxonkit_dir   = '/databases/banks/ncbi/taxonomy/taxdump'         // Path to the uncompressed taxdump folder (ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz)
    diamond_db     = "/databases/tools/diamond/ncbi-nr.taxonomy.2.1.13.dmnd"         // Path to the Diamond database file (ncbi-nr.taxonomy.dmnd). Made using nr_db, prot_accession and taxdump

    // Trim
    trim           = ''          // Tools to use to trim [trimgalore, fastp]. Empty is accepted and means no trimming.
    trim_opt       = ''          // option to set to trimming tool choosen

    // Assembly
    length_seq     = '0'         // Minimum contig length to keep after assembly (default 0, no filtering)
    
    // Diamond options
    diam_sensi     = ''          // Sensitivity option for Diamond (default empty). Options: --sensitive, --more-sensitive, --very-sensitive
    diam_evalue    = '0.001'     // E-value threshold for Diamond (default 0.001)
    diam_id        = '0'         // Minimum percentage identity for Diamond (default 0)
    diam_querycov  = '0'         // Minimum query coverage for Diamond (default 0)

    // Extra
    pipeline_report="pipeline_report" // where to store general information about pipeline execution
    monochrome_logs = false       // false= usage of ANSI colors for better reading. True to skip colors
}


////////////////////// PROFILES //////////////////////
profiles {

    // ------------ Environment tool managment profile (one must be selected!) ------------
    // DOCKER container technology
    docker {
        docker.enabled = true
        includeConfig "$baseDir/config/softwares.config"
        docker.runOptions='-u "$( id -u ):$( id -g )"'
    }

    // A profile for working on a local computer (with 8CPU available)
    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/softwares.config"
    }

    // ------------ Computing environment managment profile (one must be selected!) ------------
    
    //s A profile for working on a local computer (with 8CPU available)
    local {
        includeConfig "$baseDir/config/resources/local.config"
    }
    
    // A profile for working on HPC with slurm scheduler
    slurm {
        process.executor = 'slurm'
    }
    
    // A profile for working on HPC with sge scheduler
    sge {
        process.executor = 'sge'
        process.clusterOptions = '-l h_vmem=8G'
    }

    // ------------ Extra profiles ------------
    // A profile to help for debbuging
    debug { process.beforeScript = 'env' }

    // A profile for the IRD ITrop bioinformatics platform
    itrop {
        process {
           executor = 'slurm'
           queue = 'normal'  
           clusterOptions = "--constraint=infiniband"
        }

        singularity.enabled = true
        params.sifPath = "${baseDir}/sif_images"
        // singularity.envWhitelist = '' // Comma separated list of environment variable names to be included in the container environment.	
        includeConfig "$baseDir/config/softwares.config"
        includeConfig "$baseDir/config/resources/hpc.config"
    }

    // ------------ Test profiles ------------
    test {
        params.input = "$baseDir/test/test.csv"
    }
}


////////////////////// REPORTS //////////////////////
timeline {
    enabled = true
    file = "${params.pipeline_report}/execution_timeline_${new Date().format('yyyyMMddHHmmss')}.html"
}

report {
    enabled = true
    file = "${params.pipeline_report}/execution_report_${new Date().format('yyyyMMddHHmmss')}.html"
}

trace {
    enabled = true
    file = "${params.pipeline_report}/execution_trace_${new Date().format('yyyyMMddHHmmss')}.txt"
}

dag {
    enabled = true
    file = "${params.pipeline_report}/pipeline_dag_${new Date().format('yyyyMMddHHmmss')}.svg"
}


////////////////////// OTHER //////////////////////
// To be able to resume analysis from where it stops
resume = true
