// Config file for ViroSeek
// Autors: Margaux J.M. LEFEBVRE and Audric BERGER
// Github and manual: MargauxLefebvre/ViroSeek
// Date: June 2025

process {
    withName:fastqc_pretrim {
        cpus = 2
        memory = '2 GB'
    }
    withName:trimming {
        cpus = 8
        memory = '8 GB'
    }
     withName:fastqc_posttrim {
        cpus = 2
        memory = '2 GB'
    }
    withName:bbduk_filtering {
        cpus = 8
        memory = '24 GB'
    }
    withName:fastqc_postBBduk {
        cpus = 2
        memory = '2 GB'
    }
    withName:merging {
        cpus = 2
        memory = '4 GB'
    }
    withName:assembly {
        cpus = 12
        memory = '32 GB'
    }
    withName:quantification {
        cpus = 32
        memory = '32 GB'
    }
    withName:taxo_assign {
        cpus = 32
        memory = '72 GB'
    }
    withName:taxo_table {
        cpus = 2
    }
    withName:taxo_quanti {
        cpus = 1
    }
}

profiles {
      
    slurm {
        process.executor = 'slurm'
    }

    sge {
        process.executor = 'sge'
        process.clusterOptions = '-l h_vmem=8G'
    }

    conda_IFB {
        process {
            beforeScript = '''
                module load conda
                export CONDA_ROOT=/shared/software/miniconda/
                source $CONDA_ROOT/etc/profile.d/conda.sh
                conda activate ViroSeek
            '''
        }
    }
    conda_env {
        process {
            beforeScript = 'conda activate ViroSeek'
        }
    }
}
