// Config file for ViroSeek
// Autors: Margaux J.M. LEFEBVRE and Audric BERGER
// Github and manual: MargauxLefebvre/ViroSeek
// Date: June 2025

process {
    withName:fastqc_pretrim {
        cpus = 4
        memory = '4 GB'
    }
    withName:trimming {
        cpus = 8
        memory = '8 GB'
    }
    withName:bbduk_filtering {
        cpus = 8
        memory = '34 GB'
    }
    withName:assembly {
        cpus = 12
        memory = '72 GB'
    }
    withName:quantification {
        cpus = 16
        memory = '72 GB'
    }
    withName:taxo_assign {
        cpus = 16
        memory = '72 GB'
    }
    withName:taxo_table {
        cpus = 1
        memory = '4 GB'
    }
    withName:taxo_quanti {
        cpus = 1
        memory = '4 GB'
    }
}

profiles {
    standard {
        workDir = "${params.work_dir}"
      }
      
    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--time=24:00:00'
    }

    sge {
        process.executor = 'sge'
        process.clusterOptions = '-l h_vmem=8G'
    }

    conda_IFB {
        process {
            beforeScript = '''
                module load conda
                export CONDA_ROOT=/shared/software/miniconda/
                source $CONDA_ROOT/etc/profile.d/conda.sh
                conda activate ViroSeek
            '''
        }
    }
    conda_env {
        process {
            beforeScript = 'conda activate ViroSeek'
        }
    }
}
