process {
    withLabel: 'bash' {
        container = 'ubuntu:24.04'
    }
    withLabel: 'bbmap' {
        container = 'quay.io/biocontainers/bbmap:39.18--he5f24ec_0'
    }
    withLabel: 'bioawk' {
        container = 'quay.io/biocontainers/bioawk:1.0--h577a1d6_13'
    }
    withLabel: 'diamond' {
        container = 'quay.io/biocontainers/diamond:2.1.10--h43eeafb_2'
    }
    withLabel: 'fastp' {
        container = 'quay.io/biocontainers/fastp:0.23.4--h125f33a_5'
    }
    withLabel: 'fastqc' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withLabel: 'minimap2' {
        container = 'quay.io/biocontainers/minimap2:2.29--h577a1d6_0'
    }
    withLabel: 'samtools' {
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }
    withLabel: 'seqtk' {
        container = 'quay.io/biocontainers/seqtk:1.4--h577a1d6_3'
    }
    withLabel: 'spades' {
        container = 'quay.io/biocontainers/spades:4.0.0--haf24da9_4'
    }
    withLabel: 'taxonkit' {
        container = 'quay.io/biocontainers/taxonkit:0.9.0--h9ee0642_0'
    }
    withLabel: 'trimgalore' {
        container = 'quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_1'
    }
}