process {
    cpus = 1
    time = '1h'
    maxForks = 20
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'

    withName:build_diamond_db {
        cpus = 32
        memory = '32 GB'
    }
    withLabel:fastqc {
        cpus = 16
        memory = '16 GB'
    }
    withName:trimming {
        cpus = 8
        memory = '8 GB'
    }
    withName:bbduk_filtering {
        cpus = 8
        memory = '34 GB'
    }
    withName:assembly {
        cpus = 12
        memory = '72 GB'
    }
    withName:quantification {
        cpus = 16
        memory = '72 GB'
    }
    withName:taxo_assign {
        cpus = 32
        memory = '72 GB'
    }
    withName:taxo_table {
        cpus = 1
        memory = '4 GB'
    }
    withName:taxo_quanti {
        cpus = 1
        memory = '4 GB'
    }
}
