executor {
    name = 'local'
    cpus = 8        // Total amount of CPU available for Nextflow
}

process {
    cpus = 1
    time = '4h'
    maxForks = 8
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'

    withLabel:fastqc {
        cpus = 4
        memory = '4 GB'
    }
    withLabel:trimgalore {
        cpus = 4
        memory = '4 GB'
    }
    withLabel:fastp {
        cpus = 4
        memory = '4 GB'
    }
    withLabel:bbmap {
        cpus = 8
        memory = '32 GB'
    }
    withLabel:spades {
        cpus = 12
        memory = '32 GB'
    }
    withLabel:minimap2 {
        cpus = 16
        memory = '32 GB'
    }
    withLabel:samtools {
        cpus = 4
        memory = '8 GB'
    }
    withName:taxo_assign_diamond {
        cpus = 32
        time = '72h'
        memory = '32 GB'
    }
    withName:taxo_table_taxonkit {
        cpus = 1
        memory = '4 GB'
    }
    withName:taxo_quanti {
        cpus = 1
        memory = '4 GB'
    }
}
